---
eleventyComputed:
  content_for_header: |-
    <meta property="og:image" content="{{ site.base }}/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
site:
  styles:
    - https://cdn.jsdelivr.net/npm/charts.css@1/dist/charts.min.css
title: The Race for <mark>1000 Goals</mark>
description: "Who will cross the bar of 1k Goals? Tracking active football legends, rising contenders, and their historic season-by-season performance.&nbsp; <i class='faded' style='text-wrap: nowrap'>Updated: August 5, 2026</i>"
---

{#TODO: 1) Move data processing to JS file. #}

{% set totals = {} %}
{% set s_ranks = {} %}
{% for s in range(0, player_stats[0].seasons | length) %}
  {% set player_goals = {} %}
  {% for p in range(0, player_stats | length) %}
    {% set new_totals = {} %}
    {% for m, val in player_stats[p].seasons[s].metrics %}
      {% set new_totals = new_totals | attr_set(m, totals[p][s - 1][m] | d(0) + val) %}
    {% endfor %}
    {% if 'goals' in new_totals %}
      {% set totals = totals | attr_set(p, totals[p] | attr_set(s, new_totals) ) %}
      {% set player_goals = player_goals | attr_set(p, new_totals.goals) %}
    {% endif %}
  {% endfor %}
  {% for p, goals in player_goals | dictsort | sort(attribute=1) %}
    {% set s_ranks = s_ranks | attr_set(s, s_ranks[s] | attr_set(p, loop.index / player_goals | length ) ) %}
  {% endfor %}
{% endfor %}

<figure id="chart" class="breakout-item-max" style="padding-right: 1rem">
  <table class="charts-css line multiple show-labels show-data-axes show-data-on-hover">
    {% for s in range(0, player_stats[0].seasons | length) %}
    <tr>
      <th scope="row">{{ s + 1 }}</th>
      {% for p in range(0, player_stats | length) %}
      {% if totals[p][s] %}
      <td style="--start: {{ totals[p][s - 1].goals | d(0) / 1000 }};
        --end: {{ totals[p][s].goals / 1000 }};
        --rank: {{ s_ranks[s][p] }};
        --trail: {{ (s - (totals[p] | length - 1) + 4) / 4 }}">
        <b class="data">
          {{ totals[p][s].goals }}{% if s == totals[p] | length - 1 %}<b style="margin-right: -1ch">+</b>{% endif %}
        </b>
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <ul class="charts-css legend legend-square">
    {% for player in player_stats %}
    <li>{{ player.surname }}</li>
    {% endfor %}
  </ul>
</figure>
<style>
  .charts-css {
    --color-1: forestgreen;
    --color-2: deepskyblue;
    --color-3: royalblue;
    --color-4: red;
    --color-5: goldenrod;
    font-size: 50%;
    td {
      &:nth-of-type(10n+1) { --color: var(--color-1) }
      &:nth-of-type(10n+2) { --color: var(--color-2) }
      &:nth-of-type(10n+3) { --color: var(--color-3) }
      &:nth-of-type(10n+4) { --color: var(--color-4) }
      &:nth-of-type(10n+5) { --color: var(--color-5) }
      color: var(--color);

      &::before {
        opacity: calc(max(20%, 10% * pow(10, var(--trail) ) ) ); /* ease in 20%—100% range */
      } 
      .data:not(.does-not-exist) {
        text-wrap: nowrap; font-weight: 900;
        transform: translateY(calc(-4em * (var(--rank) - 0.7) + 1em) ) !important;
        -webkit-text-stroke: 0.25ch var(--pico-contrast-inverse); paint-order: stroke fill;

        --is-last: calc((var(--trail) - 0.999) * 1000); /* 1 or negative */
        opacity: calc(var(--is-last) );
        @media (width >= 768px) {
          --is-top: calc((var(--rank) - 0.999) * 1000); /* 1 or negative */
          opacity: calc(max(var(--is-last), var(--is-top) ) );
        }
      }
    }
  }
  #chart {
    position: relative;
    .legend {
      position: absolute;
      bottom: 1rem; right: 0;
      width: auto; height: auto;
      font-size: 50%; border: none;
    }
  }
</style>

<hr>
<style>
  /* [CORE] Table styles */
  table.striped {
    display: table !important;
    border-collapse: separate;
    @media (width >= 1024px) { font-size: 125% }
    th, td {
      min-width: 6ch;
      padding-inline: calc(var(--pico-spacing) / 4);
      &:first-child {
        padding-left: calc(var(--pico-spacing) / 2);
        font-size: 75%; opacity: 75%;
        &::after { content: ":"; vertical-align: baseline }
      }
      &:not(:first-child) { text-align: center; text-wrap: nowrap }
    }
    /* [NICE] Headers */
    thead {
      position: sticky; top: 0; z-index: 999;
      line-height: 1;
      sup { margin-inline: -1.5ch 0.125ch; top: -0.25em }
    }
  }
</style>
<figure>
  <table class="striped">
    <thead><tr><th>Player</th>{% for player in player_stats %}<th><sup>{{ player.country }}</sup>{{ player.name }}<br>{{ player.surname }}</th>{% endfor %}</tr></thead>
    <tr><td id="row-goals">Goals</td><td><mark>976</mark><sub style>~41/year</sub></td><td>921<sub style>~42/year</sub></td><td>435<sub style>~41/year</sub></td><td>359<sub style>~36/year</sub></td><td>56<sub style>~18/year</sub></td></tr>
    <tr><td>World&nbsp;Cup goals</td><td>🌐11</td><td><mark>🌐21</mark></td><td><mark>🌐22</mark></td><td>🌐7</td><td>🌐1</td></tr>
    <tr><td>World&nbsp;Cups</td><td>—<sub style>6 apps</sub></td><td><mark><b>🏆1</b></mark><sub style>6 apps</sub></td><td><mark><b>🏆1🥾2</b></mark><sub style>3 apps</sub></td><td>—<sub style>1 app</sub></td><td><mark><b>🏆1</b></mark><sub style>1 app</sub></td></tr>
    <tr><td>Ballons&nbsp;d'Or</td><td><b>⚽️5</b></td><td><mark><b>⚽️8</b></mark></td><td>—</td><td>—</td><td>—</td></tr>
    <tr><td>Golden&nbsp;Shoes</td><td><b>👟4</b></td><td><mark><b>👟6</b></mark></td><td><b>👟1</b></td><td><b>👟1</b></td><td>—</td></tr>
    <tr><td>Olympic&nbsp;Games</td><td>—<sub style>1 app</sub></td><td><mark><b>🥇1</b></mark><sub style>1 app</sub></td><td>—</td><td>—</td><td>—</td></tr>
    <tr><td>Debut age</td><td>17y 6m<sub style>Sporting vs Inter<br>'02/03</sub></td><td>17y 3m<sub style>Barça vs Espanyol<br>'04/05</sub></td><td>16y 11m<sub style>Monaco vs Caen<br>'15/16</sub></td><td><mark>15y 9m</mark><sub style>Bryne vs Ranheim<br>2016</sub></td><td><mark>15y 9m</mark><sub style>Barça vs Betis<br>'22/23</sub></td></tr>
    <tr><td>1st goal</td><td>17y 8m<sub style>Sporting vs Moreirense<br>'02/03</sub></td><td>17y 10m<sub style>Barça vs Albacete<br>'04/05</sub></td><td>17y 2m<sub style>Monaco vs Troyes<br>'15/16</sub></td><td><mark>16y 9m</mark><sub style>Molde vs Volda<br>2017</sub></td><td><mark>16y 2m</mark><sub style>Barça vs Granada<br>'23/24</sub></td></tr>
    <tr><td>Seasons played</td><td><mark>23.9</mark><sub style>'02/03–present</sub></td><td>21.7<sub style>'04/05–present</sub></td><td>10.6<sub style>'15/16–present</sub></td><td>10.1<sub style>2016–present</sub></td><td>3.2<sub style>'22/23–present</sub></td></tr>
    <tr><th id="row-seasons">Goals by season</th></tr>
    {% for s in range(0, player_stats[0].seasons | length) %}
    <tr>
      <td>Season {{ s + 1 }}</td>
      {% for p in range(0, player_stats | length) %}
      {% set season = player_stats[p].seasons[s] %}
      {% if season %}
      <td>
        <sup>{{ season.year }}</sup> {{ season.metrics.goals }} {% if 'goals' in totals[p][s] | d({}) %}<sup>∑={{ totals[p][s].goals }}</sup>{% endif %}
        {% set awards = season.metrics | attr_set('goals', false) | attr_set('🌐', false) %}
        <br><b>{{ awards | dictsort | selectattr('1') | join('', '0') }}</b>{{ '🌐' ~ season.metrics['🌐'] if season.metrics['🌐'] }}
        {% if season.notes %}<sub style>({{ season.notes }})</sub>{% endif %}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% if s in [3, 9, 21] %}
    <tr class="subtotal">
      <td>Subtotals</td>
      {% for p in range(0, player_stats | length) %}
      {% if player_stats[p].seasons[s] %}
      <td>{% set _ = '∑=' ~ totals[p][s].goals %}{{ ('<mark>' ~ _ ~ '</mark>' if s_ranks[s][p] == 1 else _ ) | safe }}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</figure>
<style>
  table.striped {
    /* [NICE] Sup/sub styles */
    td sup, sub[style] { font-size: 50%; opacity: 50% }
    /* [NICE] Gold-ish emoji helper */
    b { font-weight: normal; filter: sepia(1) saturate(8) hue-rotate(-5deg) brightness(0.85) contrast(1.4) }
    /* [NICE] Subtotals */
    tr.subtotal td {
      border: 1px solid var(--pico-contrast); border-width: 1px 0; font-size: 75%;
      &:first-child { border-left-width: 1px; opacity: 100% !important }
      &:last-child { border-right-width: 1px }
    }
    /* [NICE] Goals & seasons */
    tr:has(#row-goals) { font-size: 150% }
    tr:has(#row-seasons) ~ tr td:first-child { opacity: 50% }
  }
</style>

{% renderTemplate 'md' %}
---

## <sup style>Support the project</sup>

<article>

We DON'T ask for financial support! Instead consider to:

1. Support our underlying open-source projects by giving a star on GitHub:
   - https://github.com/anyblades/blades
   - https://github.com/anyblades/subtle
   - https://github.com/anyblades/eleventy-blades
   - https://github.com/anyblades ← or even more if you like!
     {.markerless}
2. Follow us on social media and spread the word about any of our projects:
   - https://x.com/BladesCSS
   - https://x.com/anydigitall
   - https://mastodon.social/@anydigital
   - https://www.reddit.com/user/any-digital/
   - https://bsky.app/profile/any.digital
   - https://www.linkedin.com/company/anydigital/
     {.markerless}
3. Contribute to this project on its [GitHub](https://github.com/anyblades/1k.any.digital).

</article>

<details><summary>Data sources</summary>

- https://en.wikipedia.org/w/index.php?title=Cristiano_Ronaldo&action=raw
- https://en.wikipedia.org/w/index.php?title=Lionel_Messi&action=raw
- https://en.wikipedia.org/w/index.php?title=Kylian_Mbapp%C3%A9&action=raw
- https://en.wikipedia.org/w/index.php?title=Erling_Haaland&action=raw
- https://en.wikipedia.org/w/index.php?title=Lamine_Yamal&action=raw
  {.markerless}

</details>

---

## <sup style>Featured by</sup>

- [@kalvn](https://bsky.app/profile/kalvn.net/post/3mrd3pehvul2e)
{% endrenderTemplate %}
