{% extends 'blades/html.njk' %}

{% if not site.prod %}
  {% set site = site | attr_set('styles', site.styles | join('|') | replace('https://cdn.jsdelivr.net/npm/@anyblades/blades@^3.0.0-0/css', '') | split('|')) %}
{% endif %}

{% set content_for_header %}
  <meta name="generator" content="{{ site.generator }}">
  <meta property="og:title" content="{{ title | d(site.title) | striptags }}">
  <meta name="twitter:card" content="summary_large_image">
  <style>
    object { vertical-align: middle } /*TODO: move to blades.css */
    body > footer { text-align: center; padding-bottom: 3rem; font-size: medium }
  </style>
  {{ content_for_header | safe }}
{% endset %}

{% block body %}
  <nav class="container">
    <ul><li><a href="/">{{ site.title }}</a></li></ul>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    <ul><li><a href="https://github.com/anydigital/1k.football"><i class="fa-brands fa-github fa-lg"></i></a></li></ul>
  </nav>
  <main class="container breakout-all">
    <h1>{{ title | safe }}</h1>
    <p><big>{{ description | safe }}</big></p>
    {{ content | safe }}
  </main>
  <hr>
  <footer>{{ site.footer | renderContent('njk,md', { site: site }) | safe }}</footer>
{% endblock %}
